<div>
  <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; flex-direction: column;">
    <h1 class="text-brand-500 title">
      BRL EXCHANGE RATE
    </h1>
    <div style="display: flex; flex-direction: column;">
      <mat-form-field class="example-full-width" [(ngModel)]="from_symbol" ngDefaultControl appearance="fill">
        <mat-label>Enter the currency code</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-flat-button color="primary" class="primary-btn btn-large" (click)="getCurrentExchangeRate()">
        <span>
          EXCHANGE RESULT
        </span>
      </button>

      <div *ngIf="exchangeRate != null">
        <div
          style="display: flex; justify-content: space-between; align-items: center; margin-top: 32px; border-top: 2px solid #D9D9D9; padding-top: 30px;">
          <div>
            <p class="lg-bold">Exchange rate now</p>
            <p class="medium">{{exchangeRate?.lastUpdatedAt}}</p>
          </div>
          <div>
            <h1 class="text-brand-500 uppercase">{{exchangeRate?.fromSymbol}}/{{exchangeRate?.toSymbol}}</h1>
          </div>
        </div>
        <div
          style="background-color: var(--primary-color-100); display: flex; justify-content: center; align-items: center; padding: 16px 0 ; margin-top: 15px;">
          <h1 style="font-size: 32px;
                line-height: 40px; font-weight: 700; color: var(--primary-color); margin: 0;">
            {{exchangeRate?.exchangeRate}}
          </h1>
        </div>
        <div
          style="display: flex; justify-content: space-between; align-items: center; margin-top: 32px; border-bottom: 2px solid var(--primary-color); padding-bottom: 15px;">
          <div>
            <p class="default-bold">LAST 30 DAYS</p>
          </div>
          <div class="plus-container" (click)="getDailyExchangeRate()">
            <mat-icon class="icon-size-5" [svgIcon]="'custom-icons:plus'" *ngIf="!showLast30Days"></mat-icon>
            <mat-icon class="icon-size-5" [svgIcon]="'custom-icons:minus'" *ngIf="showLast30Days"></mat-icon>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="bg-gray-400 p-3">
        <div class="p-4">
          <div>07/03/2022</div>
          <div>
            <div></div>
            <div></div>
          </div>
          <div></div>
        </div>
    </div> -->

  </div>
  <div class="bg-gray-400 p-3 mt-4" *ngIf="showLast30Days">
    <div class="overflow-x-auto">
      <table class="w-full bg-transparent" mat-table [dataSource]="exchangeRateDataSource" [trackBy]="trackByFn"
        #exchangeRateTable>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>
            Date
          </th>
          <td mat-cell *matCellDef="let exchange">
            <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
              {{exchange.date}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="open">
          <th mat-header-cell *matHeaderCellDef>
            Open
          </th>
          <td mat-cell *matCellDef="let exchange">
            <span class="pr-6 whitespace-nowrap">
              {{exchange.open}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="close">
          <th mat-header-cell *matHeaderCellDef>
            Close
          </th>
          <td mat-cell *matCellDef="let exchange">
            <span class="pr-6 whitespace-nowrap">
              {{exchange.close}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="high">
          <th mat-header-cell *matHeaderCellDef>
            Higth
          </th>
          <td mat-cell *matCellDef="let exchange">
            <span class="pr-6 whitespace-nowrap">
              {{exchange.high}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="low">
          <th mat-header-cell *matHeaderCellDef>
            Low
          </th>
          <td mat-cell *matCellDef="let exchange">
            <span class="pr-6 whitespace-nowrap">
              {{exchange.low}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="close">
          <th mat-header-cell *matHeaderCellDef>
            Close Dif
          </th>
          <td mat-cell *matCellDef="let exchange">
            <span class="pr-6 whitespace-nowrap">
              {{exchange.close}}
            </span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="exchangeRateTableColumns"></tr>
        <tr class="order-row h-16" mat-row *matRowDef="let row; columns: exchangeRateTableColumns;"></tr>
      </table>
    </div>
  </div>
</div>
