header {
    width: 100%;
    background-color: #F2F2F2;
}

.border {
    flex: 1 1 auto;
    margin-top: 1px;
    border-top: 2px solid #D9D9D9;
}

.border-container {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding: 16px 0 16px 0;
}